# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Project(3D)/Debug/*.log
/Project(3D)/Debug/*.ilk
/Project(3D)/Debug/*.recipe
/Project(3D)/*.user
/Project(3D)/Debug/Project(3D).tlog
/Project(3D)/Debug/*.pdb
/Project(3D)/Debug/*.idb
